**Issues**

![Screenshot from 2024-12-08 19-24-23](https://github.com/user-attachments/assets/b99d99cb-dc62-40d1-a242-154d6d78ada3)

Using ios.command module, forgot config term before hostname.

![Screenshot from 2024-12-09 10-17-25](https://github.com/user-attachments/assets/c3e37ac3-6377-4aa2-aee2-4255417e5977)

Tried to use AI generated code that was either too old or wrong.

![Screenshot from 2024-12-09 19-05-50](https://github.com/user-attachments/assets/0f3f4d4d-ea8c-4638-bdf4-cf8f7336cc05)

Used AI generated code

**Success**

![Screenshot from 2024-12-09 19-21-16](https://github.com/user-attachments/assets/c9e86119-e38b-41bc-a737-509daabf9e25)

![Screenshot from 2024-12-09 19-21-35](https://github.com/user-attachments/assets/47f84202-7711-44b5-bf35-f0e041a9443e)

![Screenshot from 2024-12-09 19-21-49](https://github.com/user-attachments/assets/3279d1cd-6e42-41fc-9837-ce45c97548c5)
